*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f0fff4; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, 90rem) [center-end] 1fr [full-end];
  grid-template-rows: 15rem calc(100vh - 15rem) repeat(2, 1fr); }

.main {
  grid-row: 3/4;
  grid-column: center-start / center-end; }

.top-bar {
  grid-row: 1/2;
  grid-column: full-start / full-end;
  padding: 3rem 6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center; }
  .top-bar__logo {
    width: 10rem; }

.navigation__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-column-gap: 3rem; }

.navigation__link:link, .navigation__link:visited {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  display: block;
  transition: all 0.2s;
  position: relative; }
  .navigation__link:link::after, .navigation__link:visited::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    height: 0.08rem;
    background-color: currentColor;
    margin: 0 auto;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden; }
  .navigation__link:link:hover, .navigation__link:visited:hover {
    transform: scale(1.2);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2); }
  .navigation__link:link:hover::after, .navigation__link:visited:hover::after {
    width: 100%;
    opacity: 1;
    visibility: visible; }
  .navigation__link:link:active, .navigation__link:visited:active {
    transform: translateY(2px) scale(1.2); }

.social-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  justify-items: center;
  align-items: center; }
  .social-media__logo {
    width: 4.5rem;
    display: block;
    transition: all 0.2s; }
    .social-media__logo--2 {
      width: 6rem; }
    .social-media__logo:hover {
      transform: rotateZ(-5deg) scale(1.1); }

.header {
  background-color: grey;
  grid-row: 2/3;
  grid-column: center-start / center-end; }

.portfolio {
  background-color: aquamarine; }

.about-me {
  background-color: bisque;
  grid-row: 4/5;
  grid-column: center-start / center-end; }

.contact {
  background-color: orange; }

.footer {
  background-color: rosybrown;
  grid-row: 4/5;
  grid-column: full-start / full-end; }
