.about-me {
    margin-top: 5rem;
    grid-row: 4/5;
    grid-column: center-start / center-end;
    grid-auto-rows: min-content;
    padding: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-bottom: 5rem;
    justify-content: center;


    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start / full-end;
        grid-template-columns: 100%;
        grid-row-gap: 3rem;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        p {
            width: 80%;
        }

    }

    &__photo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width:$bp-medium) {
            width: 30vh;
        }

    }

    &__image {
        width: 100%;
        object-fit: cover;
        border-radius: 50%;

    }
}