.footer {
    background-color: rosybrown;
    grid-row: 4/5;
    grid-column: full-start / full-end;
    color: lightgray;
    background: gray;
    text-align: center;
}

.legal {
    background-color: rgb(94, 94, 94);
}